<center>
    <span id="dogName11" style="color:darkblue"></span>
    <h1>Would you like to add another dog?</h1>

    <a href="" data-ajax="true" data-ajax-url="/Home/Partial" data-ajax-update="#panel">View Dog</a>
    <div id="panel"></div>

    <br />
    <a href="" onclick="submitDog()" class="btn btn-lg btn-success" data-ajax="true" data-ajax-url="/Home/Partial" data-ajax-update="#panel">Yes</a>
    <a href="" class="btn btn-lg btn-danger" data-ajax="true" data-ajax-url="/Home/Partial" data-ajax-update="#panel">No</a>

</center>