<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Do you take this <span id="dogName8" style="color:darkblue"></span> to work regularly?</h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="businessExtension" name="businessExtension" class="form-control">
                <option value="51">Yes</option>
                <option value="52">No</option>
            </select>
        </div>
    </div>
    </center>
