<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Do any children, under the age of 16, live with you the majority of the time?</h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="children" name="children" class="form-control">
                <option value="25">No</option>
                <option value="26">Yes </option>
                <option value="27">Daycare or baby sitting service in the home</option>
                <option value="28">Foster children in home</option>
                <option value="29">Has anyone in the home been convicted of animal or domestic abuse  </option>
            </select>
        </div>
    </div>
    </center>
