<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Is Name current on licenses, vaccinations and other such requirements in your area?</h2>
            <input id="dogName6" type="hidden" value="" />
        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="complianceWithLocalLaws" name="complianceWithLocalLaws" class="form-control">
                <option value="40">Yes</option>
                <option value="41">No</option>
            </select>
        </div>
    </div>
    </center>
