<div class="row">
    <div class="col-md-12">
        <span class="badge badge-info ml-3" style="background-color:#2C8080;"><span class="fa fa-dog"></span> <span class="badge badge-light">1</span></span>
    </div>

</div>
<div class="row" style="margin-top:10px">
    <div class="col-lg-3">
        <div class="form-group  ml-3 mr-3 mr-lg-0">
            <label for="inputName0">Name</label>
            <input type="text" class="form-control dbq-required" id="dogFullName" name="dogFullName" placeholder="" required="" autocomplete="off">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group  ml-3 mr-3 ml-lg-0 mr-lg-0">
            <label for="inputBreed0">Breed</label>
            <div id="divBreed0" class="dx-show-invalid-badge dx-lookup dx-lookup-popover-mode dx-textbox dx-texteditor dx-editor-outlined dx-widget dx-lookup-empty dx-dropdowneditor"><input type="hidden" value="" id="breedId" name="breedId"><div class="dx-lookup-field-wrapper"><div class="dx-lookup-field" tabindex="0" role="combobox" aria-expanded="false">Select...</div><div class="dx-lookup-arrow"></div></div></div>
            <input type="hidden" id="inputBreed0" name="inputBreed0" value="" autocomplete="off">
        </div>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
        <div class="form-group  ml-3 mr-3 ml-lg-0 mr-lg-0">
            <label for="inputWeight0">Weight</label>
            <input type="number" class="form-control dbq-required" id="weight" autocomplete="off" name="weight" value="0" placeholder="" required="">
        </div>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
        <div class="form-group  ml-3 mr-3 ml-lg-0 mr-lg-0">
            <label for="inputAge0">Age</label>
            <input type="number" class="form-control dbq-required" id="age" autocomplete="off" name="age" value="0" placeholder="" required="">
        </div>
    </div>
    <div class="d-none d-md-block col-md-2 col-lg-2">

    </div>
</div>

