<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Is <span id="dogName10" style="color:darkblue"></span> in your home with the intent that it will be adopted by another family in the near future. Answer No if you adopted your dog</h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="fosterDogs" name="fosterDogs" class="form-control">
                <option value="55">Yes</option>
                <option value="56">No</option>
            </select>
        </div>
    </div>
    </center>
