<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Gender for <span id="dogName5" style="color:darkblue"></span>?</h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="genderRepo" name="genderRepo" class="form-control">
                <option value="36">Intact Male</option>
                <option value="37">Intact Female</option>
                <option value="38">Neutered Male</option>
                <option value="39">Spayed Female</option>
            </select>
        </div>
    </div>
    </center>
