<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Total number of times <span id="dogName11" style="color:darkblue"></span> has bitten  a person  in separate attacks within the last 5 years</h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="personalInjuryDogBite" name="personalInjuryDogBite" class="form-control" onchange="getNewVal(this);">
                <option value="no">None</option>
                <option value="yes">1</option>
                <option value="yes">2</option>
                <option value="yes">3 or more</option>
            </select>
        </div>
    </div>


    <div class="row" id="injuryAttacts" style="display:none">
        <div class="col-md-12" style="margin-top:20px">

            <h2>Which of the following describes the injury?</h2>

        </div>
        <div  class="col-md-12" style="margin-top:20px">
            <select name="personalInjuryDogBiteA" id="personalInjuryDogBiteA" class="form-control">
                <option value="61">None</option>
                <option value="62">Minor bruising, small puncture wound </option>
                <option value="63">Required medical attention such as stitches and/or antibiotics </option>
                <option value="64">Victim was admitted to the hospital</option>
            </select>
        </div>
    </div>
    </center>
