<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Is <span id="dogName9" style="color:darkblue"></span> Involved or Integral in your work as a Therapist, Teacher, Counselor, or for services such as sniffing for bedbugs, luggage, lockers, termites or chemicals?</h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="professionalLiabilityExtension" name="professionalLiabilityExtension" class="form-control">
                <option value="8">Inside a completely fenced area or kennel</option>
                <option value="9">Usually leash walked</option>
                <option value="10">On tie line less than an hour at the time</option>
                <option value="11">Underground electric dog containment system</option>
                <option value="12">Outside without a fence, tie out, restraint or any supervision</option>
                <option value="13">Permanently tied or tethered outside</option>
            </select>
        </div>
    </div>
    </center>
