<center>
    <div class="row">
        <div class="col-md-12">

            <h2>Where does <span id="dogName4" style="color:darkblue"></span>  Sleep? <span id="dogName" style="color:darkblue"></span></h2>

        </div>
        <div class="col-md-12" style="margin-top:20px">
            <select id="sleep" name="sleep" class="form-control">
                <option value="8">Inside a completely fenced area or kennel</option>
                <option value="9">Usually leash walked</option>
                <option value="10">On tie line less than an hour at the time</option>
                <option value="11">Underground electric dog containment system</option>
                <option value="12">Outside without a fence, tie out, restraint or any supervision</option>
                <option value="13">Permanently tied or tethered outside</option>
            </select>
        </div>
    </div>
</center>