
@{
    ViewData["Title"] = "Wizard";
    Layout = "~/Views/Shared/Quote_Layout.cshtml";
}
<script>
    function functionNext() {

        //$("a[href$='next']").hide();
        //$("a[href$='previous']").hide();
        event.preventDefault();
     
        
        var nextStep = document.getElementById("stepFunction").value;
        var step = parseInt(nextStep)
       
        if (step == 12) {
            $('#step' + step).hide();
            $('#step' + (step + 1)).show();
            $('#stepFunction').hide();
        }

        else if (step == 1){
            
            var frm_breedId = $("#inputBreed0").val();
            var frm_dogFullName = $("#dogFullName").val();
        
            var frm_weight = $("#weight").val();
            var frm_age = $("#age").val();
            var frm_policyId = $("#policyId").val();
            

            $.ajax({
                type: 'get',
                url: '/Home/AddDog',
                async: false,
                data: {
                    'breedId': frm_breedId,
                    'name': frm_dogFullName,
                 
                    'weight': frm_weight,
                    'age': frm_age,
                    'policyId': frm_policyId,
                   
                   
                },
               
                success: function () {
                    $('#step' + step).hide();
                    $('#step' + (step + 1)).show();
                    var frm_element = $("#dogFullName").val();



                    $("#dogName" + (step + 1)).text(frm_element);

                    document.getElementById("stepFunction").value = (step + 1);
                    document.getElementById("stepFunction").innerHTML = 'Next Question ' + (step + 1);

                    return true;
                },
                error: function () {
                    alert("something went wrong");
                    return false; //this will prevent to go to next step
                }
            });
            return true;
        }

        else {
          
            $('#step' + step).hide();
            $('#step' + (step + 1)).show();
            var frm_element = $("#dogFullName").val();
       
         
          
            $("#dogName" + (step + 1)).text(frm_element);
            
            document.getElementById("stepFunction").value = (step + 1);
            document.getElementById("stepFunction").innerHTML = 'Next Question ' + (step + 1);

            return true;
        }
       
     
    }

    function getNewVal(item) {
        if (item.value == 'yes') {
            $('#injuryAttacts').show();

        }
        else {
            $('#injuryAttacts').hide();
        }
    }

    function getNewValAnimal(item) {
        if (item.value == 'yes') {
            $('#injuryAttactsAnimal').show();

        }
        else {
            $('#injuryAttactsAnimal').hide();
        }
    }
</script>

<script>
    function submitDog() {
        var frm_breedId = $("#inputBreed0").val();
        var frm_dogFullName = $("#dogFullName").val();
        var frm_coverageLevelId = $("#coverageLevelId").val();
        var frm_weight = $("#weight").val();
        var frm_age = $("#age").val();
        var frm_containment = $("#containment").val();
        var frm_children = $("#children").val();
        var frm_businessExtension = $("#businessExtension").val();
        var frm_animalInjuryDogBite = $("#animalInjuryDogBite").val();
        var frm_complianceWithLocalLaws = $("#complianceWithLocalLaws").val();
        var frm_fosterDogs = $("#fosterDogs").val();
        var frm_genderRepo = $("#genderRepo").val();
        var frm_personalInjuryDogBite = $("#personalInjuryDogBite").val();
        var frm_personalInjuryDogBiteA = $("#personalInjuryDogBiteA").val();
        var frm_personalInjuryDogBiteAnimal = $("#personalInjuryDogBiteAnimal").val();
        var frm_personalInjuryDogBiteAnimalA = $("#personalInjuryDogBiteAnimalA").val();
        var frm_sleep = $("#sleep").val();

        var frm_training = $("#training").val();
        var frm_policyId = $("#policyId").val();
        var frm_professionalLiabilityExtension = $("#professionalLiabilityExtension").val();
       

        $.ajax({
            type: 'get',
            url: '/Home/AddDog',
            async: false,
            data: {
                'breedId': frm_breedId,
                'dogFullName': frm_dogFullName,
                'coverageLevelId': frm_coverageLevelId,
                'weight': frm_weight,
                'age': frm_age,
                'containment': frm_containment,
                'children': frm_children,
                'businessExtension': frm_businessExtension,
                'animalInjuryDogBite': frm_animalInjuryDogBite,
                'complianceWithLocalLaws': frm_complianceWithLocalLaws,
                'fosterDogs': frm_fosterDogs,
                'genderRepo': frm_genderRepo,
                'personalInjuryDogBite': frm_personalInjuryDogBite,
                'personalInjuryDogBiteA': frm_personalInjuryDogBiteA,
                'personalInjuryDogBiteAnimal': frm_personalInjuryDogBiteAnimal,
                'personalInjuryDogBiteAnimalA': frm_personalInjuryDogBiteAnimalA,
                'sleep': frm_sleep,
                'training': frm_training,
                'policyId': frm_policyId,
                'professionalLiabilityExtension': frm_professionalLiabilityExtension,


            },
            dataType: 'json',
            contentType: "application/json; charset=utf-8",


            success: function (response) {

                $('#myFormId').clearForm();
                $('#wizard').steps('next');
                $out = true;
            },
            error: function () {
                alert("something went wrong");
                return false; //this will prevent to go to next step
            }
        });

       

    
        
    }
</script>

<div style="background:#ffffff">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#2C8080;">
            <a class="navbar-brand" href="#">
                <span style='width:195px' class='d-none d-lg-block'></span>
                <img src="~/landing_page/img/logo.png" alt="Dog Bite Quote logo"  class="mr-3 d-none d-lg-block" style="width:85px;width:85px;position: absolute;z-index: 9999;top: 3px;left: 3px;" />

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Our Service
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="#">service2</a>
                            <a class="dropdown-item" href="#">service 2</a>
                            <a class="dropdown-item" href="#">service 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Call</a>
                    </li>
                    <!-- <li class="nav-item dropdown dmenu">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Dropdown link
                      </a>
                      <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                        <a class="dropdown-item" href="#">Link 4</a>
                        <a class="dropdown-item" href="#">Link 5</a>
                        <a class="dropdown-item" href="#">Link 6</a>
                      </div>
                    </li> -->
                </ul>
                <div class="social-part">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">

        <div class="wrapper wrapper-content animated fadeInRight">
      

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">

                        <div class="ibox-content">
                            <h2>
                                Dog Bite Quote Form
                            </h2>
                            <p>
                                Fill out the form to get a new quote
                            </p>

                            <form id="form" action="#" class="wizard-big">
                                <h1>Basics</h1>
                                <fieldset>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Email *</label>
                                                <input id="email" name="email" type="email" class="form-control required">
                                            </div>
                                            <div class="form-group">

                                                <label>State *</label>
                                                <select id="inputState" name="inputState" class="form-control required">
                                                    <option>Select A State</option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="AZ">Arizona</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="CA">California</option>
                                                    <option value="CO">Colorado</option>
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DC">District of Columbia</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="FL">Florida</option>
                                                    <option value="GA">Georgia</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="ID">Idaho</option>
                                                    <option value="IL">Illinois</option>
                                                    <option value="IN">Indiana</option>
                                                    <option value="IA">Iowa</option>
                                                    <option value="KS">Kansas</option>
                                                    <option value="KY">Kentucky</option>
                                                    <option value="LA">Louisiana</option>
                                                    <option value="ME">Maine</option>
                                                    <option value="MD">Maryland</option>
                                                    <option value="MA">Massachusetts</option>
                                                    <option value="MI">Michigan</option>
                                                    <option value="MN">Minnesota</option>
                                                    <option value="MS">Mississippi</option>
                                                    <option value="MO">Missouri</option>
                                                    <option value="MT">Montana</option>
                                                    <option value="NE">Nebraska</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="NH">New Hampshire</option>
                                                    <option value="NJ">New Jersey</option>
                                                    <option value="NM">New Mexico</option>
                                                    <option value="NY">New York</option>
                                                    <option value="NC">North Carolina</option>
                                                    <option value="ND">North Dakota</option>
                                                    <option value="OH">Ohio</option>
                                                    <option value="OK">Oklahoma</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="PA">Pennsylvania</option>
                                                    <option value="RI">Rhode Island</option>
                                                    <option value="SC">South Carolina</option>
                                                    <option value="SD">South Dakota</option>
                                                    <option value="TN">Tennessee</option>
                                                    <option value="TX">Texas</option>
                                                    <option value="UT">Utah</option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-lg-4">
                                            <div class="text-center">
                                                <div style="margin-top: 20px">
                                                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <h1>Policy</h1>
                                <fieldset>


                                    <div class="col-md-12">
                                        <div class="ibox ">
                                            <div class="ibox-title">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <span class="badge badge-info ml-3" style="background-color:#2C8080;">Policy # <span id="policyNumber" class="badge badge-light" style="font-size:100%;"></span></span>
                                                        <input type="hidden" name="policyId" id="policyId" value="" />
                                                        <input type="hidden" name="userId" id="userId" value="" />

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="ibox-content">
                                                <div id="step1">
                                                    <partial name="../QuoteQuestions/_DogAttributes" />
                                                </div>

                                                <div id="step2" style="display:none">
                                                    <partial name="../QuoteQuestions/_Containment" />
                                                </div>
                                                <div id="step3" style="display:none">
                                                    <partial name="../QuoteQuestions/_Children" />
                                                </div>
                                                <div id="step4" style="display:none">
                                                    <partial name="../QuoteQuestions/_Sleep" />
                                                </div>
                                                <div id="step5" style="display:none">
                                                    <partial name="../QuoteQuestions/_GenderRepo" />
                                                </div>
                                                <div id="step6" style="display:none">
                                                    <partial name="../QuoteQuestions/_ComplianceWithLocalLaws" />
                                                </div>
                                                <div id="step7" style="display:none">
                                                    <partial name="../QuoteQuestions/_Training" />
                                                </div>
                                                <div id="step8" style="display:none">
                                                    <partial name="../QuoteQuestions/_BusinessExtension" />
                                                </div>
                                                <div id="step9" style="display:none">
                                                    <partial name="../QuoteQuestions/_ProfessionalLiabilityExtension" />
                                                </div>

                                                <div id="step10" style="display:none">
                                                    <partial name="../QuoteQuestions/_FosterDogs" />
                                                </div>

                                                <div id="step11" style="display:none">
                                                    <partial name="../QuoteQuestions/_PersonalInjuryDogBite" />
                                                </div>

                                                <div id="step12" style="display:none">
                                                    <partial name="../QuoteQuestions/_PersonalInjuryDogBiteAnimal" />
                                                </div>

                                                <div id="step13" style="display:none">
                                                    <partial name="../QuoteQuestions/_AddAnotherDog" />
                                                </div>

                                                @*<div id="step12" style="display:none">
                                                    <partial name="../QuoteQuestions/" />
                                                </div>*@


                                            </div>
                                            <div class="ibox-footer">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button id="stepFunction" value="1" class="btn btn-dark pull-right" onclick="functionNext();">Next Question</button>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </fieldset>

                                <h1>Warning</h1>
                                <fieldset>
                                    <div class="text-center" style="margin-top: 120px">
                                        <h2>You did it Man :-)</h2>
                                    </div>
                                </fieldset>

                                <h1>Finish</h1>
                                <fieldset>
                                    <h2>Terms and Conditions</h2>
                                    <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />
        <link href="~/css/dx.common.css" rel="stylesheet" />
        <link href="~/css/dx.softblue.css" rel="stylesheet" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">

        <script src="~/lib/jquery/dist/js/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>

        <script src="~/lib/steps/jquery.steps.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/js/dx.web.js"></script>
    </environment>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    var $out = false;
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex == 1) {
                        $out = false;
                        var emailAddress = document.getElementById("email").value;
                        var userState = document.getElementById("inputState").value;
                
                 
                        $.ajax({
                            type: 'get',
                            url: '/Home/AddUser',
                            async: false,
                            data: {
                                'email': emailAddress,
                                'state': userState,

                            },
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                       
                            
                            success: function (response) {
                             
                                document.getElementById("policyNumber").innerHTML = response;
                                document.getElementById("policyId").value = response;
                         
                                $out = true;
                            },
                            error: function () {
                                alert("something went wrong");
                                return false; //this will prevent to go to next step
                            }
                        });
                    }
                    

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

        });
    </script>

    <script>
        var breedList = [
            { "breedId": 1, "breedName": 'Abruzzen' },
            { "breedId": 2, "breedName": 'Affenpinscher' },
            { "breedId": 3, "breedName": 'Afghan Hound' },
            { "breedId": 4, "breedName": 'Aidi' },
            { "breedId": 5, "breedName": 'Ainu' },
            { "breedId": 6, "breedName": 'Airedale Terrier' },
            { "breedId": 7, "breedName": 'Akbash' },
            { "breedId": 8, "breedName": 'Akita' },
            { "breedId": 9, "breedName": 'Alapaha Blue Blood Bull Dog' },
            { "breedId": 10, "breedName": 'Alaskan Klee Kai' },
            { "breedId": 11, "breedName": 'Alaskan Malamute' },
            { "breedId": 12, "breedName": 'American Bull Terrier' },
            { "breedId": 13, "breedName": 'American Bulldog' },
            { "breedId": 14, "breedName": 'American Eskimo' },
            { "breedId": 15, "breedName": 'American Foxhound' },
            { "breedId": 16, "breedName": 'American Hairless Terrier' },
            { "breedId": 17, "breedName": 'American Staffordshire Terrier' },
            { "breedId": 18, "breedName": 'American Water Spaniel' },
            { "breedId": 19, "breedName": 'Anatolian Shepard' },
            { "breedId": 20, "breedName": 'Anglo-Francais Tricolor' },
            { "breedId": 21, "breedName": 'Appenzell Mountain Dog' },
            { "breedId": 22, "breedName": 'Argentine Dogo' },
            { "breedId": 23, "breedName": 'Ariegeois' },
            { "breedId": 24, "breedName": 'Aussiedoodle' },
            { "breedId": 25, "breedName": 'Austrain Hound' },
            { "breedId": 26, "breedName": 'Austrain Short-Haired Pinscher' },
            { "breedId": 27, "breedName": 'Australian Cattle Dog' },
            { "breedId": 28, "breedName": 'Australian Kelpie' },
            { "breedId": 29, "breedName": 'Australian Shepherd' },
            { "breedId": 30, "breedName": 'Australian Silky Terrier' },
            { "breedId": 31, "breedName": 'Australian Terrier' },
            { "breedId": 32, "breedName": 'Azawakh' },
            { "breedId": 33, "breedName": 'Balkan Hound' },
            { "breedId": 34, "breedName": 'Barbet' },
            { "breedId": 35, "breedName": 'Basenji' },
            { "breedId": 36, "breedName": 'Basset Artesien Normand' },
            { "breedId": 37, "breedName": 'Basset Bleu De Gascigne' },
            { "breedId": 38, "breedName": 'Basset Fauve De Bretagne' },
            { "breedId": 39, "breedName": 'Basset Griffon Vendeen' },
            { "breedId": 40, "breedName": 'Basset Hound' },
            { "breedId": 41, "breedName": 'Bavarian Mountain Hound' },
            { "breedId": 42, "breedName": 'Beagle' },
            { "breedId": 43, "breedName": 'Beagle Harrier' },
            { "breedId": 44, "breedName": 'Beaglier' },
            { "breedId": 45, "breedName": 'Bearded Collie' },
            { "breedId": 46, "breedName": 'Beauceron' },
            { "breedId": 47, "breedName": 'Bedlington Terrier' },
            { "breedId": 48, "breedName": 'Belgian Griffon' },
            { "breedId": 49, "breedName": 'Belgian Malinois' },
            { "breedId": 50, "breedName": 'Belgian Sheepdog' },
            { "breedId": 51, "breedName": 'Belgian Shepherd Laeenois' },
            { "breedId": 52, "breedName": 'Belgian Shepherd Malinois' },
            { "breedId": 53, "breedName": 'Belgian Shepherd Tervuren' },
            { "breedId": 54, "breedName": 'Belgian Tervuren' },
            { "breedId": 55, "breedName": 'Bergamasco' },
            { "breedId": 56, "breedName": 'Berger Picard' },
            { "breedId": 57, "breedName": 'Bernese Hound' },
            { "breedId": 58, "breedName": 'Bernese Mountain Dog' },
            { "breedId": 59, "breedName": 'Bichon Avanese' },
            { "breedId": 60, "breedName": 'Bichon Frise' },
            { "breedId": 61, "breedName": 'Bichpoo' },
            { "breedId": 62, "breedName": 'Billy' },
            { "breedId": 63, "breedName": 'Black &amp; Tan Coonhound' },
            { "breedId": 64, "breedName": 'Black &amp; Tan Toy Terrier' },
            { "breedId": 65, "breedName": 'Black Forest Hound' },
            { "breedId": 66, "breedName": 'Black Mouth Cur' },
            { "breedId": 67, "breedName": 'Black Russian Terrier' },
            { "breedId": 68, "breedName": 'Bloodhound' },
            { "breedId": 69, "breedName": 'Bluetick Coonhound' },
            { "breedId": 70, "breedName": 'Bolognese' },
            { "breedId": 71, "breedName": 'Border Collie' },
            { "breedId": 72, "breedName": 'Border Terrier' },
            { "breedId": 73, "breedName": 'Borzoi' },
            { "breedId": 74, "breedName": 'Bosnian Hound' },
            { "breedId": 75, "breedName": 'Boston Terrier' },
            { "breedId": 76, "breedName": 'Bouvier Des Flandres' },
            { "breedId": 77, "breedName": 'Boxer' },
            { "breedId": 78, "breedName": 'Boxer Mix' },
            { "breedId": 79, "breedName": 'Boxerdoodle' },
            { "breedId": 80, "breedName": 'Boykin Spaniel' },
            { "breedId": 81, "breedName": 'Bracco Italiano' },
            { "breedId": 82, "breedName": 'Braque Ariegeois' },
            { "breedId": 83, "breedName": 'Braque D&#39;Auvergne' },
            { "breedId": 84, "breedName": 'Braque Du Bourbonnais' },
            { "breedId": 85, "breedName": 'Braque Dupuy' },
            { "breedId": 86, "breedName": 'Braque Saint-Germain' },
            { "breedId": 87, "breedName": 'Breed' },
            { "breedId": 88, "breedName": 'Briard' },
            { "breedId": 89, "breedName": 'Briquet' },
            { "breedId": 90, "breedName": 'Briquet Griffon Vendeen' },
            { "breedId": 91, "breedName": 'Brittany Spaniel' },
            { "breedId": 92, "breedName": 'Brussels Griffon' },
            { "breedId": 93, "breedName": 'Bull Terrier' },
            { "breedId": 94, "breedName": 'Bulldog' },
            { "breedId": 95, "breedName": 'Bullmastiff' },
            { "breedId": 96, "breedName": 'Caechoslovakian Vlcak' },
            { "breedId": 97, "breedName": 'Cairn Terrier' },
            { "breedId": 98, "breedName": 'Cairnoodle' },
            { "breedId": 99, "breedName": 'Canaan Dog' },
            { "breedId": 100, "breedName": 'Cane Corso Mastiff' },
            { "breedId": 101, "breedName": 'Cao Da Serra De Aires' },
            { "breedId": 102, "breedName": 'Cao Da Serra De Estrela' },
            { "breedId": 103, "breedName": 'Cao Da Serra De Laboreiro' },
            { "breedId": 104, "breedName": 'Cao De Castro Laboreiro' },
            { "breedId": 105, "breedName": 'Carolina' },
            { "breedId": 106, "breedName": 'Catahoula Leopard Dog' },
            { "breedId": 107, "breedName": 'Catalan Sheepdog' },
            { "breedId": 108, "breedName": 'Catalburns' },
            { "breedId": 109, "breedName": 'Caucasian' },
            { "breedId": 110, "breedName": 'Caucasian Shepherd' },
            { "breedId": 111, "breedName": 'Cavachon' },
            { "breedId": 112, "breedName": 'Cavalier King Charles Spaniel' },
            { "breedId": 113, "breedName": 'Cavapoo' },
            { "breedId": 114, "breedName": 'Central Asian Ovtcharka' },
            { "breedId": 115, "breedName": 'Ceskey Terrier' },
            { "breedId": 116, "breedName": 'Cesky Terrier' },
            { "breedId": 117, "breedName": 'Cheaspeake Bay Retriever' },
            { "breedId": 118, "breedName": 'Chesapeake Bay Terrier' },
            { "breedId": 119, "breedName": 'Chien Francais' },
            { "breedId": 120, "breedName": 'Chihuahua' },
            { "breedId": 121, "breedName": 'Chinese Chongqing Dog' },
            { "breedId": 122, "breedName": 'Chinese Crested' },
            { "breedId": 123, "breedName": 'Chinese Foo Dog' },
            { "breedId": 124, "breedName": 'Chinese Imperial Ch&#39;in' },
            { "breedId": 125, "breedName": 'Chinese Shar-pei' },
            { "breedId": 126, "breedName": 'Chinese Temple Dog' },
            { "breedId": 127, "breedName": 'Chinook' },
            { "breedId": 128, "breedName": 'Chipoo' },
            { "breedId": 129, "breedName": 'Chow Chow' },
            { "breedId": 130, "breedName": 'Chow Mix' },
            { "breedId": 131, "breedName": 'Cirneco Dell Etna' },
            { "breedId": 132, "breedName": 'Clumber Spaniel' },
            { "breedId": 133, "breedName": 'Cockapoo' },
            { "breedId": 134, "breedName": 'Cocker Spaniel' },
            { "breedId": 135, "breedName": 'Collie' },
            { "breedId": 136, "breedName": 'Corgi' },
            { "breedId": 137, "breedName": 'Coton De Tulear' },
            { "breedId": 138, "breedName": 'Croatian Sheepdog' },
            { "breedId": 139, "breedName": 'Curly Coated Retriever' },
            { "breedId": 140, "breedName": 'Czechoslovakian Wolfdog' },
            { "breedId": 141, "breedName": 'Dachsbracke, Montano-Alpine' },
            { "breedId": 142, "breedName": 'Dachshund' },
            { "breedId": 143, "breedName": 'Dachsvracke, Westphalian' },
            { "breedId": 144, "breedName": 'Dalmatian' },
            { "breedId": 145, "breedName": 'Dalmation Mix' },
            { "breedId": 146, "breedName": 'Dandi Dinmont Terrier' },
            { "breedId": 147, "breedName": 'Dashshund Smooth' },
            { "breedId": 148, "breedName": 'Dashshund Wire' },
            { "breedId": 149, "breedName": 'Deerhound' },
            { "breedId": 150, "breedName": 'Doberman Pinscher' },
            { "breedId": 151, "breedName": 'Dobi Mix' },
            { "breedId": 152, "breedName": 'Dogo Argentino' },
            { "breedId": 153, "breedName": 'Dogue De Bordeaux' },
            { "breedId": 154, "breedName": 'Doodleman Pinscher' },
            { "breedId": 155, "breedName": 'Double Nosed Andean Tiger Hound' },
            { "breedId": 156, "breedName": 'Drentse Patrijshond' },
            { "breedId": 157, "breedName": 'Drever' },
            { "breedId": 158, "breedName": 'Dunker' },
            { "breedId": 159, "breedName": 'Dutch Shepherd' },
            { "breedId": 160, "breedName": 'English Bulldog' },
            { "breedId": 161, "breedName": 'English Cocker Spaniel' },
            { "breedId": 162, "breedName": 'English Coonhound' },
            { "breedId": 163, "breedName": 'English Foxhound' },
            { "breedId": 164, "breedName": 'English Pointer' },
            { "breedId": 165, "breedName": 'English Setter' },
            { "breedId": 166, "breedName": 'English Shepherd' },
            { "breedId": 167, "breedName": 'English Springer Spaniel' },
            { "breedId": 168, "breedName": 'English Toy Spaniel' },
            { "breedId": 169, "breedName": 'Entlebucher Mountain Dog' },
            { "breedId": 170, "breedName": 'Eskimo Dog' },
            { "breedId": 171, "breedName": 'Estrela Mountain' },
            { "breedId": 172, "breedName": 'Field Spaniel' },
            { "breedId": 173, "breedName": 'Fila Brasileiro' },
            { "breedId": 174, "breedName": 'Finnish Hound' },
            { "breedId": 175, "breedName": 'Finnish Lapphund' },
            { "breedId": 176, "breedName": 'Finnish Spitz' },
            { "breedId": 177, "breedName": 'Flat Coated Retriever' },
            { "breedId": 178, "breedName": 'Fox Terrier, Smooth' },
            { "breedId": 179, "breedName": 'Fox Terrier, Toy' },
            { "breedId": 180, "breedName": 'Fox Terrier, Wire' },
            { "breedId": 181, "breedName": 'French Bulldog' },
            { "breedId": 182, "breedName": 'French Pointer' },
            { "breedId": 183, "breedName": 'French Spaniel' },
            { "breedId": 184, "breedName": 'Gammel Dansk Honsehund' },
            { "breedId": 185, "breedName": 'German Hovawart' },
            { "breedId": 186, "breedName": 'German Hunting Terrier' },
            { "breedId": 187, "breedName": 'German Long-Haired Pointer' },
            { "breedId": 188, "breedName": 'German Pinscher' },
            { "breedId": 189, "breedName": 'German Shepherd' },
            { "breedId": 190, "breedName": 'German Shepherd Mix' },
            { "breedId": 191, "breedName": 'German Shorthaired Pointer' },
            { "breedId": 192, "breedName": 'German Spaniel' },
            { "breedId": 193, "breedName": 'German Wirehaired Pointer' },
            { "breedId": 194, "breedName": 'Glen of Imaal Terrier' },
            { "breedId": 195, "breedName": 'Golden Retriever' },
            { "breedId": 196, "breedName": 'Goldendoodle' },
            { "breedId": 197, "breedName": 'Gordon Setter' },
            { "breedId": 198, "breedName": 'Grand Anglo-Francais' },
            { "breedId": 199, "breedName": 'Grand Bleu De Gascogne' },
            { "breedId": 200, "breedName": 'Grand Gascon Saintongeois' },
            { "breedId": 201, "breedName": 'Grand Griffon Vendeen' },
            { "breedId": 202, "breedName": 'Great Dane' },
            { "breedId": 203, "breedName": 'Great Pyrenees' },
            { "breedId": 204, "breedName": 'Great Spitz' },
            { "breedId": 205, "breedName": 'Greater Swiss Mountain Dog' },
            { "breedId": 206, "breedName": 'Greek Hound' },
            { "breedId": 207, "breedName": 'Greenland' },
            { "breedId": 208, "breedName": 'Greyhound' },
            { "breedId": 209, "breedName": 'Griffon Brabancon' },
            { "breedId": 210, "breedName": 'Griffon Fauve De Bretagne' },
            { "breedId": 211, "breedName": 'Griffon Nivernais' },
            { "breedId": 212, "breedName": 'Grosser Munsterlander' },
            { "breedId": 213, "breedName": 'Hairless Dog' },
            { "breedId": 214, "breedName": 'Haldenstover' },
            { "breedId": 215, "breedName": 'Hamilton Hound' },
            { "breedId": 216, "breedName": 'Hanover Hound' },
            { "breedId": 217, "breedName": 'Harlekinpinscher' },
            { "breedId": 218, "breedName": 'Havanese' },
            { "breedId": 219, "breedName": 'Heeler' },
            { "breedId": 220, "breedName": 'Hokkaidoken' },
            { "breedId": 221, "breedName": 'Hovawart' },
            { "breedId": 222, "breedName": 'Hunt Terrier' },
            { "breedId": 223, "breedName": 'Hygenhund' },
            { "breedId": 224, "breedName": 'Ibizan Hound' },
            { "breedId": 225, "breedName": 'Iceland Sheepdog' },
            { "breedId": 226, "breedName": 'Illyrian Sheepdog' },
            { "breedId": 227, "breedName": 'Irish Setter' },
            { "breedId": 228, "breedName": 'Irish Terrier' },
            { "breedId": 229, "breedName": 'Irish Water Spaniel' },
            { "breedId": 230, "breedName": 'Irish Wolfhound' },
            { "breedId": 231, "breedName": 'Italian Greyhound' },
            { "breedId": 232, "breedName": 'Italian Hound' },
            { "breedId": 233, "breedName": 'Italian Spinone' },
            { "breedId": 234, "breedName": 'Jack Russell' },
            { "breedId": 235, "breedName": 'Japanese Chin' },
            { "breedId": 236, "breedName": 'Japanese Spitz' },
            { "breedId": 237, "breedName": 'Jindo' },
            { "breedId": 238, "breedName": 'Jura Hound' },
            { "breedId": 239, "breedName": 'Kai Dog' },
            { "breedId": 240, "breedName": 'Kai Ken' },
            { "breedId": 241, "breedName": 'Karelian Bear Dog' },
            { "breedId": 242, "breedName": 'Karst Sheepdog' },
            { "breedId": 243, "breedName": 'Keeshond' },
            { "breedId": 244, "breedName": 'Kerry Blue Terrier' },
            { "breedId": 245, "breedName": 'Kishu Ken' },
            { "breedId": 246, "breedName": 'Kleiner Musterlander' },
            { "breedId": 247, "breedName": 'Komondor' },
            { "breedId": 248, "breedName": 'Kooikerhondje' },
            { "breedId": 249, "breedName": 'Kromfohrlander' },
            { "breedId": 250, "breedName": 'Kuvasz' },
            { "breedId": 251, "breedName": 'Kyushu' },
            { "breedId": 252, "breedName": 'Lab Mix' },
            { "breedId": 253, "breedName": 'Labradoodle' },
            { "breedId": 254, "breedName": 'Labrador Retriever' },
            { "breedId": 255, "breedName": 'Lagotto Romagnolo' },
            { "breedId": 256, "breedName": 'Lakeland Terrier' },
            { "breedId": 257, "breedName": 'Lancashire Heeler' },
            { "breedId": 258, "breedName": 'Landseer' },
            { "breedId": 259, "breedName": 'Lapphund' },
            { "breedId": 260, "breedName": 'Lapponian Herder' },
            { "breedId": 261, "breedName": 'Leonberger' },
            { "breedId": 262, "breedName": 'Levesque' },
            { "breedId": 263, "breedName": 'Lhasa Apso' },
            { "breedId": 264, "breedName": 'Lhasapoo' },
            { "breedId": 265, "breedName": 'Little Lion Dog' },
            { "breedId": 266, "breedName": 'Lowchen' },
            { "breedId": 267, "breedName": 'Lucernese Hound' },
            { "breedId": 268, "breedName": 'Lundehund' },
            { "breedId": 269, "breedName": 'Magyar Agar' },
            { "breedId": 270, "breedName": 'Malshi' },
            { "breedId": 271, "breedName": 'Maltese' },
            { "breedId": 272, "breedName": 'Maltipom' },
            { "breedId": 273, "breedName": 'Maltipoo' },
            { "breedId": 274, "breedName": 'Manchester Terrier' },
            { "breedId": 275, "breedName": 'Manchester Terrier, Toy' },
            { "breedId": 276, "breedName": 'Maremma Sheepdog' },
            { "breedId": 277, "breedName": 'Mastiff' },
            { "breedId": 278, "breedName": 'McNab' },
            { "breedId": 279, "breedName": 'Mexican Hairless' },
            { "breedId": 280, "breedName": 'Minature American Shepherd' },
            { "breedId": 281, "breedName": 'Minature Australian Shepherd' },
            { "breedId": 282, "breedName": 'Mini Dachshund' },
            { "breedId": 283, "breedName": 'Miniature Bull Terrier' },
            { "breedId": 284, "breedName": 'Miniature Pinscher' },
            { "breedId": 285, "breedName": 'Miniature Poodle' },
            { "breedId": 286, "breedName": 'Morkie' },
            { "breedId": 287, "breedName": 'Mountain Cur' },
            { "breedId": 288, "breedName": 'Mudi' },
            { "breedId": 289, "breedName": 'Munsterlander' },
            { "breedId": 290, "breedName": 'Neapolitan Mastiff' },
            { "breedId": 291, "breedName": 'New Guinea Singing Dog' },
            { "breedId": 292, "breedName": 'Newfoundland' },
            { "breedId": 293, "breedName": 'Norfolk Terrier' },
            { "breedId": 294, "breedName": 'Norrbottenspets' },
            { "breedId": 295, "breedName": 'Norsk Buhund' },
            { "breedId": 296, "breedName": 'Norwegian Buhund' },
            { "breedId": 297, "breedName": 'Norwegian Elkhound' },
            { "breedId": 298, "breedName": 'Norwegian Lundehund' },
            { "breedId": 299, "breedName": 'Norwich Terrier' },
            { "breedId": 300, "breedName": 'Nova Scotia Duck Tolling Retriever' },
            { "breedId": 301, "breedName": 'Olde English Bulldogge' },
            { "breedId": 302, "breedName": 'Olde English Sheepdog' },
            { "breedId": 303, "breedName": 'Otterhound' },
            { "breedId": 304, "breedName": 'Papillon' },
            { "breedId": 305, "breedName": 'Papoo' },
            { "breedId": 306, "breedName": 'Parson Russell Terrier' },
            { "breedId": 307, "breedName": 'Patterdale Terrier' },
            { "breedId": 308, "breedName": 'Peek-A-Pom' },
            { "breedId": 309, "breedName": 'Pekepoo' },
            { "breedId": 310, "breedName": 'Pekingese' },
            { "breedId": 311, "breedName": 'Perdiguero De Burgos' },
            { "breedId": 312, "breedName": 'Perdiguero Portugues' },
            { "breedId": 313, "breedName": 'Peruvian Inca Orchid' },
            { "breedId": 314, "breedName": 'Petit Anglo-Francais' },
            { "breedId": 315, "breedName": 'Petit Bleu De Gascogne' },
            { "breedId": 316, "breedName": 'Petit Griffon Bleu De Gascogne' },
            { "breedId": 317, "breedName": 'Petite Basset Griffon' },
            { "breedId": 318, "breedName": 'Pharaoh Hound' },
            { "breedId": 319, "breedName": 'Picardy Sheepdog' },
            { "breedId": 320, "breedName": 'Picardy Spaniel' },
            { "breedId": 321, "breedName": 'Pinscher' },
            { "breedId": 322, "breedName": 'Pit Bull' },
            { "breedId": 323, "breedName": 'Pit Mix' },
            { "breedId": 324, "breedName": 'Plott Hound' },
            { "breedId": 325, "breedName": 'Podenco ibicenco' },
            { "breedId": 326, "breedName": 'Podengo Portugueso' },
            { "breedId": 327, "breedName": 'Pointer' },
            { "breedId": 328, "breedName": 'Poitevin' },
            { "breedId": 329, "breedName": 'Polish Hound' },
            { "breedId": 330, "breedName": 'Polish Lowland Sheepdog' },
            { "breedId": 331, "breedName": 'Polish Owczarek Nizinny' },
            { "breedId": 332, "breedName": 'Polish Tatra Sheepdog' },
            { "breedId": 333, "breedName": 'Pomchi' },
            { "breedId": 334, "breedName": 'Pomeranian' },
            { "breedId": 335, "breedName": 'Pont-Audemere Spaniel' },
            { "breedId": 336, "breedName": 'Poodle, Minature' },
            { "breedId": 337, "breedName": 'Poodle, Standard' },
            { "breedId": 338, "breedName": 'Poodle, Toy' },
            { "breedId": 339, "breedName": 'Porcelaine' },
            { "breedId": 340, "breedName": 'Portuguese Podengo' },
            { "breedId": 341, "breedName": 'Portuguese Pointer' },
            { "breedId": 342, "breedName": 'Portuguese Water Dog' },
            { "breedId": 343, "breedName": 'Posavac Hound' },
            { "breedId": 344, "breedName": 'Presa Canario' },
            { "breedId": 345, "breedName": 'Pudelpointer' },
            { "breedId": 346, "breedName": 'Pug' },
            { "breedId": 347, "breedName": 'Puggle' },
            { "breedId": 348, "breedName": 'Puli' },
            { "breedId": 349, "breedName": 'Pumi' },
            { "breedId": 350, "breedName": 'Pyrenean Mastiff' },
            { "breedId": 351, "breedName": 'Pyrenean Shepherd' },
            { "breedId": 352, "breedName": 'Queensland Heeler' },
            { "breedId": 353, "breedName": 'Rafeiro Do Alentejo' },
            { "breedId": 354, "breedName": 'Rastreador Brasileiro' },
            { "breedId": 355, "breedName": 'Rat Terrier' },
            { "breedId": 356, "breedName": 'Redbone Coonhound' },
            { "breedId": 357, "breedName": 'Redtick Coonhound' },
            { "breedId": 358, "breedName": 'Rhodesian Ridgeback' },
            { "breedId": 359, "breedName": 'Rotti Mix' },
            { "breedId": 360, "breedName": 'Rottweiler' },
            { "breedId": 361, "breedName": 'Rough-Coated Bohemain Pointer' },
            { "breedId": 362, "breedName": 'Russian Toy' },
            { "breedId": 363, "breedName": 'Sabueso Espanol' },
            { "breedId": 364, "breedName": 'Saint Bernard' },
            { "breedId": 365, "breedName": 'Saluki' },
            { "breedId": 366, "breedName": 'Samoyed' },
            { "breedId": 367, "breedName": 'Sanshu' },
            { "breedId": 368, "breedName": 'Sarplaninac' },
            { "breedId": 369, "breedName": 'Schapendoes' },
            { "breedId": 370, "breedName": 'Schillerstovare' },
            { "breedId": 371, "breedName": 'Schipperke' },
            { "breedId": 372, "breedName": 'Schnauzer, Giant' },
            { "breedId": 373, "breedName": 'Schnauzer, Miniature' },
            { "breedId": 374, "breedName": 'Schnauzer, Standard' },
            { "breedId": 375, "breedName": 'Schnoodle' },
            { "breedId": 376, "breedName": 'Scottish Deerhound' },
            { "breedId": 377, "breedName": 'Scottish Terrier' },
            { "breedId": 378, "breedName": 'Sealyham Terrier' },
            { "breedId": 379, "breedName": 'Shar-Pei' },
            { "breedId": 380, "breedName": 'Sheltie' },
            { "breedId": 381, "breedName": 'Shetland Sheepdog' },
            { "breedId": 382, "breedName": 'Shiba Inu Dogs' },
            { "breedId": 383, "breedName": 'Shih Tzu' },
            { "breedId": 384, "breedName": 'Shihpoo' },
            { "breedId": 385, "breedName": 'Shiloh Shepherd' },
            { "breedId": 386, "breedName": 'Siberian Husky' },
            { "breedId": 387, "breedName": 'Silky Terrier' },
            { "breedId": 388, "breedName": 'Skye Terrier' },
            { "breedId": 389, "breedName": 'Sloughi' },
            { "breedId": 390, "breedName": 'Sloughi' },
            { "breedId": 391, "breedName": 'Slovak Tchouvatch' },
            { "breedId": 392, "breedName": 'Smalandsstovare' },
            { "breedId": 393, "breedName": 'Small Continental Spaniel' },
            { "breedId": 394, "breedName": 'Small Gray Elk Dog' },
            { "breedId": 395, "breedName": 'Small Spitz' },
            { "breedId": 396, "breedName": 'Small Swiss Hound' },
            { "breedId": 397, "breedName": 'Smooth-Haired Istrian Hound' },
            { "breedId": 398, "breedName": 'Smooth-Muzzled Pyrenees Sheepdog' },
            { "breedId": 399, "breedName": 'Soft Coated Wheaten Terrier' },
            { "breedId": 400, "breedName": 'Soft-Coated Griffon' },
            { "breedId": 401, "breedName": 'Somerset Harrier' },
            { "breedId": 402, "breedName": 'South African Boerboel' },
            { "breedId": 403, "breedName": 'South Russian Ovcharka' },
            { "breedId": 404, "breedName": 'Spanish Greyhound' },
            { "breedId": 405, "breedName": 'Spinone Italiano' },
            { "breedId": 406, "breedName": 'Stabyhoun' },
            { "breedId": 407, "breedName": 'Staffordshire Bull Terriers' },
            { "breedId": 408, "breedName": 'Steinbracke' },
            { "breedId": 409, "breedName": 'Stichelhaar' },
            { "breedId": 410, "breedName": 'Sussex Spaniel' },
            { "breedId": 411, "breedName": 'Swedish Elkhound' },
            { "breedId": 412, "breedName": 'Swedish Shepherd' },
            { "breedId": 413, "breedName": 'Swedish Vallhund' },
            { "breedId": 414, "breedName": 'Swiss Hound' },
            { "breedId": 415, "breedName": 'Tamaskan' },
            { "breedId": 416, "breedName": 'Tatra Sheepdog' },
            { "breedId": 417, "breedName": 'Telomian' },
            { "breedId": 418, "breedName": 'Thai Ridgeback' },
            { "breedId": 419, "breedName": 'Tibetan Mastiff' },
            { "breedId": 420, "breedName": 'Tibetan Spaniel' },
            { "breedId": 421, "breedName": 'Tibetan Terrier' },
            { "breedId": 422, "breedName": 'Toy Terrier' },
            { "breedId": 423, "breedName": 'Transylvanian Hound' },
            { "breedId": 424, "breedName": 'Treeing Tennessee Brindle' },
            { "breedId": 425, "breedName": 'Treeing Walker Coonhound' },
            { "breedId": 426, "breedName": 'Trigg Hound' },
            { "breedId": 427, "breedName": 'Tyrolean Hound' },
            { "breedId": 428, "breedName": 'Valee Sheepdog' },
            { "breedId": 429, "breedName": 'Vizsla' },
            { "breedId": 430, "breedName": 'Volpino Italiano' },
            { "breedId": 431, "breedName": 'Weimaraner' },
            { "breedId": 432, "breedName": 'Welsh Corgi, Cardigan' },
            { "breedId": 433, "breedName": 'Welsh Corgi, Pembroke' },
            { "breedId": 434, "breedName": 'Welsh Springer Spaniel' },
            { "breedId": 435, "breedName": 'Welsh Terrier' },
            { "breedId": 436, "breedName": 'West Highland White Terrier' },
            { "breedId": 437, "breedName": 'Westie' },
            { "breedId": 438, "breedName": 'Westiepoo' },
            { "breedId": 439, "breedName": 'Wetterhoun' },
            { "breedId": 440, "breedName": 'Whippet' },
            { "breedId": 441, "breedName": 'Wirehaired Pointing Griffon' },
            { "breedId": 442, "breedName": 'Wirehaired Styrian Mountain Hound' },
            { "breedId": 443, "breedName": 'Xoloitzcuintli' },
            { "breedId": 444, "breedName": 'Yorkiepoo' },
            { "breedId": 445, "breedName": 'Yorkie aka Yorkshire Terrier' },
            { "breedId": 446, "breedName": 'Yugoslavian Mountain Hound' },
            { "breedId": 447, "breedName": 'Yugoslavian Tricolor Hound' },
            { "breedId": 448, "breedName": 'Test dog breed 2 some more' },
        ];
    </script>

    <script>
        $(function () {
            $("#divBreed0").dxLookup({
                dataSource: breedList,
                closeOnOutsideClick: true,
                showPopupTitle: false,
                displayExpr: "breedName",
                valueExpr: "breedId",
                onValueChanged: function (e) {
                    $('#inputBreed0').val(e.value);
                }
            });

            $("#divBreed0").dxLookup("instance").option('value');

            $('#buttonRemove0').on('click', function () {
                var hc = parseInt($('#inputHiddenDogCount').val());

                if (hc == 0) return;

                $('#inputName0').val('');
                $('#inputBreed0').val('');
                $('#inputWeight0').val('');
                $('#inputAge0').val('');

                $('#divDogInfo0').hide();

                $('#inputHiddenDogCount').val(hc - 1);

                $('.dbq-required').removeAttr('required');
            });
        });
    </script>
}
